= form_tag({controller: 'contacts', action:'new'}, method:'get', class: 'text-black form-inline', remote: true) do
  = text_field_tag  :name, nil, placeholder: 'Nombre', class: 'form-control'
  = email_field_tag :email, nil, placeholder: 'Email', class: 'form-control'
  = submit_tag      'Registrarse', class: 'btn btn-danger'