= form_tag({controller: 'contacts', action:'new'}, method:'get', class: 'text-black form-inline') do
  = text_field_tag  :name, nil, placeholder: 'Nombre', class: 'form-control'
  = email_field_tag :address, nil, placeholder: 'Email', class: 'form-control'
  = submit_tag      'Registrarse', class: 'btn btn-danger'