.section#hero
	.container
		.row
			.col-xs-12.text-center
				%h1 TIENES MUCHAS COSAS Y POCO ESPACIO?

.section#sign_in
	.container
		.row
			.col-xs-4
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			.col-xs-8
				%p Formulario

.section#steps
	.container
		.row
			.col-xs-12.text-center
				%h2 Como funciona?
			.col-xs-3.text-center
				%p Paso 1
			.col-xs-3.text-center
				%p Paso 2
			.col-xs-3.text-center
				%p Paso 3
			.col-xs-3.text-center
				%p Paso 4
			
.section#security
	.container
		.row
			.col-xs-12.text-center
				%h2 Tus cosas seguras
			.col-xs-4.text-center
				%p Imagen de la caja
			.col-xs-4.text-center
				%p frase
				%ul
					%li lorem
					%li lorem
					%li lorem

.section#prices
	.container
		.row
			.col-xs-12.text-center
				%h2 Precios
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			.col-xs-3.text-center
				%p Precio 1
			.col-xs-3.text-center
				%p Precio 2
			.col-xs-3.text-center
				%p Precio 3
				
.section#sign_in_again
	.container
		.row
			.col-xs-4
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			.col-xs-8
				%p Formulario
