body, h1,h2,h3,h4,h5,h6,p,a{
  font-family: Montserrat;
  font-weight: 400;
}
.logo{
  width: 163px;
}

.section{
  margin: 60px 0px;
}

ul{
  list-style-image: image-url('chulito.png');
}
/*-----LAYOUT----*/

.allign-center{
  margin: 0px auto;
}

.display-inline{
  display: inline-block;
}

/*----FONT----*/
.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.text-white{
  color: white;
}

.text-blue{
  color: #22A6E1 !important;
}

.text-black{
  color: #3C5F78;
}

.text-orange{
  color: #EB5E2B !important;
}

.padding-20{
  padding: 20px 0px;
}

.padding-bottom-20{
  padding-bottom: 35px;
}
/*------BACKGROUND------*/
.background-white{
  background-color: #EFF8FD;
}

.background-blue{
  background-color: #22A6E1;
}

.background-blue-lighter{
  background-color: #31B1F6;
}

.background-orange{
  background-color: #EB5E2B;
}

.background-orange-darker{
  background-color: #BC481F;
}

.border{
  border: 1px solid #3C5F78;
}

/*-----CLASSES-----*/
.rayita{
  background-image: image-url('rayita.png');
  background-repeat: no-repeat;
  background-position:center;
}

.rayita-naranja{
  background-image: image-url('rayitaNaranja.png');
  background-repeat: no-repeat;
  background-position:center;
}

.hero-copy{
  padding: 50px 0px 50px 0px;
  text-shadow: 4px 4px #333;
}

.img-background{
  background-image: image-url('background-hero4.png');

}

.form{
  @extend .allign-center;
  margin-top: 30px;
  padding: 30px 20px;
}

.form-copy{
  padding-right: 35px;
}

.background-box{
  background-image: image-url('SiluetaCaja.png');
  background-repeat: no-repeat;
  background-position:center;
  height: 150px;
  padding-top: 40px;
}

.last-oportunity{
  margin-top: -10px;
  margin-bottom: 30px;
}

.plan{
  margin-top: 40px;
  td{
    width: 50%;
  }
}

/*----ARROW CLASSES-------*/
.arrow_box {
  position: relative;
}

.arrow_box:after, .arrow_box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(49, 177, 246, 0);
  border-right-color: #31B1F6;
  border-width: 20px;
  margin-top: -20px;
}
.arrow_box:before {
  border-color: rgba(60, 95, 120, 0);
  border-right-color: #3C5F78;
  border-width: 21px;
  margin-top: -21px;
}

@media (min-width: 768px) {
  .hero-copy{
    max-height: 600px;
    padding: 200px 0px 200px 0px;
  }
  .text-size-3em{
    font-size: 4em;
  }
}
