-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = image_tag 'logo.png', class:'logo'
      / = link_to 'Home', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        / = render 'layouts/navigation_links'
        %li=link_to "Como funciona", "#", {class: 'scrollit', 'data-target' => "#steps"}
        %li=link_to "Tus cosas seguras", "#", {class: 'scrollit', 'data-target' => "#security"}
        %li=link_to "Precios", "#", {class: 'scrollit', 'data-target' => "#prices"}
        %li=link_to "Registrate", "#", {class: 'scrollit', 'data-target' => "#sign_in"}